{% extends 'otherbase.html' %}

{% block content %}
    <form action="{{ url_for('dashboard') }}" method="post">
        <select name="exercise-selector">
            <option value="1" {% if exercise_id == 1 %}selected{% endif %}>Shoulder Press</option>
            <option value="2" {% if exercise_id == 2 %}selected{% endif %}>Bicep Curl</option>
        <option value="3" {% if exercise_id == 3 %}selected{% endif %}>Barbell Squats</option>
        <option value="4" {% if exercise_id == 4 %}selected{% endif %}>Deadlifts</option>


        </select>
        <button type="submit">Update</button>
    </form>
    <p>Out of {{ total_count }} performed, you did {{ good_form }} with full range of motion!</p>
    <div>{{ graph_html|safe }}</div>
{% endblock %}
