{% extends 'otherbase.html' %}

{% block content %}

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <iframe width="560" height="315" src="{{ video_link }}" title="Exercise Video" frameborder="0" allowfullscreen></iframe>
        <div class="ml-4">
            <h1 class="text-5xl font-bold">{{ exercise.replace('_', ' ').title() }}</h1>
            <p class="py-6">
                Learn the correct form for performing {{ exercise.replace('_', ' ').title() }}.
            </p>
            <a href="{{ url_for('start', exercise=exercise) }}" class="btn btn-primary">Start {{ exercise.replace('_', ' ').title() }}</a>
        </div>
    </div>
</div>

{% endblock %}